//<Select>============================================================================
.select {
	position: relative;
	&__value {
		display: flex;
		font-size: 14px;
		height: 30px;
		padding: 0 15px;
		align-items: center;
		justify-content: space-between;
		flex-direction: row-reverse;
		span {
			height: 1em;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
		}
		&:before {
			content: "";
			display: inline-block;
			transition: all 0.3s ease 0s;
			width: 11px;
			height: 7px;
			background: #000;//стрелки вставляют
		}
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	&__options {
		color: #000;
		display: none;
		position: absolute;
		top: 29px;
		border-radius: 0 0 4px 4px;
		min-width: 100%;
		left: 0;
		background-color: #fff;
		border-top: 0;
		border: 1px solid #d9d9d9;
		font-size: 14px;
		padding: 10px 0 5px 0;
		@media(max-width: $md2+px) {
			font-size: 18px;
		}
	}
}
//</Select>============================================================================

//<INPUT>============================================================================
 input[type="text"],
 input[type="email"],
 input[type="tel"],
 textarea {
 	-webkit-appearance: none;
 	-moz-appearance: none;
 	appearance: none;
 }

.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0 10px;
	&._focus {
		box-shadow: 2px 2px 2px #000000;
	}
	&._error {
		background-color: #ff0000;
		color: #ffffff;
	}
}
textarea.input {
	resize: none;
	padding: 0 0;
}
//</INPUT>============================================================================

//<CheckBox>============================================================================
.checkbox {
	position: relative;
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
		&:checked + .checkbox__text:before {
			background: white; // фото галочки быть должно
		}
	}
	&__text {
		display: inline-flex;
		align-items: center;
		position: relative;
		font-size: transparent;
		color: #fff;
		cursor: pointer;
		&::before {
			content: "";
			flex: 0 0 16px;
			height: 18px;
			align-self: flex-start;
			margin: 5px 14px 0 0;
			border: 3px solid #a7a9ac;
			border-radius: 5px;
			left: 0;
			top: 20px;
		}
	}
}
//</CheckBox>============================================================================
