//<Обнуление файлов / импорт переменных>====================================================================================================================================
@import "_nullStyle";
@import "_variables";
//<Обнуление файлов / импорт переменных>====================================================================================================================================

//-<Подключаем файлы стилей>==============================================================
@import "_header";
@import "_footer";
@import "_main-page";
@import "_forms";
@import "_UI";
@import "_catalog";
//-</Подключаем файлы стилей>==============================================================

//<Подключаем шрифты>=================================================================================================
//--&display=swap - оптимизация латиницы
//--&subset=cyrillic-ext - оптимизация кирилици
//@import "fonts"; //ипорт локально
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
//</Подключаем шрифты>=================================================================================================

//-<Иконочные шрифты>-==============================================================
//@import ""; //скомпилированный фал был добавлен в папку после скачивания и удаления лишего
//-</Иконочные шрифты>-==============================================================

//-<Обнуление общиих параметров>-===================================================
	body {
		font-family: $font-family;
		color: #FFFFFF;
		font-size: 18px;
		&._lock {
			overflow: hidden;
		}
	}
//-<Обнуление общих параметров>-===================================================

//<Wrapper и Ограничивающий контейнер>-========================================================================
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	width: 100%;
}
//---------------------------------------
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media(max-width: $md2+px) {
		max-width: 750px;
	}
	@media(max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</Wrapper и Ограничивающий контейнер>========================================================================


//-<Основная сетка>==================================================================
.page {
	&__main-card {
		
	}

	&__products {
		margin: 70px 0px 120px 0px;
    }

	&__hight-demand {
    }

	&__fox-card {
    }

	&__new-knives {
    }

	&__articals {
    }

	&__lamps {
		margin: 120px 0;
    }

	&__footer {
		margin-top: 120px;
	}

	//=====Вторая страница=============================================================================
	
	&__inner-catalog {
		margin: 30px 0 0px 0;
	}
}
//-<Основная сетка>==================================================================
